services:
  web-public:
    profiles: ["jitsi"]
    image: jitsi/web:stable-10655
    restart: unless-stopped
    networks:
      - frontend
      - jitsi-backend
    env_file:
      - ../.env
      - ./.env
      - ./.env.secrets
    environment:
      - PUBLIC_URL=https://meet.${BASE_DOMAIN}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80"]
      interval: 30s
      timeout: 5s
      retries: 3
    volumes:
      - ${DATA_DIR}/jitsi/web-public:/config
      - ${DATA_DIR}/jitsi/branding/watermark.svg:/usr/share/jitsi-meet/images/watermark.svg:ro
    depends_on:
      - prosody
      - jicofo
      - jvb

  web:
    profiles: ["jitsi"]
    image: jitsi/web:stable-10655
    restart: unless-stopped
    networks:
      - frontend
      - jitsi-backend
    env_file:
      - ../.env
      - ./.env
      - ./.env.secrets
    environment:
      - PUBLIC_URL=https://adm.meet.${BASE_DOMAIN}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80"]
      interval: 30s
      timeout: 5s
      retries: 3
    volumes:
      - ${DATA_DIR}/jitsi/web:/config
      - ${DATA_DIR}/jitsi/branding/watermark.svg:/usr/share/jitsi-meet/images/watermark.svg:ro
    depends_on:
      - prosody
      - jicofo
      - jvb

  prosody:
    profiles: ["jitsi"]
    image: jitsi/prosody:stable-10655
    restart: unless-stopped
    networks:
      - jitsi-backend
    env_file:
      - ../.env
      - ./.env
      - ./.env.secrets
    healthcheck:
      test: ["CMD-SHELL", "prosodyctl status | grep -q 'running'"]
      interval: 30s
      timeout: 5s
      retries: 3
    volumes:
      - ${DATA_DIR}/jitsi/prosody:/config

  jicofo:
    profiles: ["jitsi"]
    image: jitsi/jicofo:stable-10655
    restart: unless-stopped
    networks:
      - jitsi-backend
    env_file:
      - ../.env
      - ./.env
      - ./.env.secrets
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8888/about/health"]
      interval: 30s
      timeout: 5s
      retries: 3
    volumes:
      - ${DATA_DIR}/jitsi/jicofo:/config
    depends_on:
      - prosody

  jvb:
    profiles: ["jitsi"]
    image: jitsi/jvb:stable-10655
    restart: unless-stopped
    networks:
      - jitsi-backend
    ports:
      - "10000:10000/udp"
    env_file:
      - ../.env
      - ./.env
      - ./.env.secrets
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/about/health"]
      interval: 30s
      timeout: 5s
      retries: 3
    volumes:
      - ${DATA_DIR}/jitsi/jvb:/config
    depends_on:
      - prosody

