services:
  web-public:
    image: jitsi/web:stable-10655
    restart: unless-stopped
    networks:
      - frontend
      - jitsi-backend
    env_file:
      - ./.env
      - ./.env.secrets
    environment:
      - PUBLIC_URL=https://meet.stormyra.se
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80"]
      interval: 30s
      timeout: 5s
      retries: 3
    volumes:
      - /opt/stack/jitsi-data/web-public:/config
    depends_on:
      - prosody
      - jicofo
      - jvb

  web:
    image: jitsi/web:stable-10655
    restart: unless-stopped
    networks:
      - frontend
      - jitsi-backend
    env_file:
      - ./.env
      - ./.env.secrets
    environment:
      - PUBLIC_URL=https://adm.meet.stormyra.se
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80"]
      interval: 30s
      timeout: 5s
      retries: 3
    volumes:
      - /opt/stack/jitsi-data/web:/config
    depends_on:
      - prosody
      - jicofo
      - jvb

  prosody:
    image: jitsi/prosody:stable-10655
    restart: unless-stopped
    networks:
      - jitsi-backend
    env_file:
      - ./.env
      - ./.env.secrets
    healthcheck:
      test: ["CMD-SHELL", "prosodyctl status | grep -q 'running'"]
      interval: 30s
      timeout: 5s
      retries: 3
    volumes:
      - /opt/stack/jitsi-data/prosody:/config

  jicofo:
    image: jitsi/jicofo:stable-10655
    restart: unless-stopped
    networks:
      - jitsi-backend
    env_file:
      - ./.env
      - ./.env.secrets
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8888/about/health"]
      interval: 30s
      timeout: 5s
      retries: 3
    volumes:
      - /opt/stack/jitsi-data/jicofo:/config
    depends_on:
      - prosody

  jvb:
    image: jitsi/jvb:stable-10655
    restart: unless-stopped
    networks:
      - jitsi-backend
    ports:
      - "10000:10000/udp"
    env_file:
      - ./.env
      - ./.env.secrets
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/about/health"]
      interval: 30s
      timeout: 5s
      retries: 3
    volumes:
      - /opt/stack/jitsi-data/jvb:/config
    depends_on:
      - prosody

